.header {
    width: 100%;
    height: 70px;
    background-color: var(--dark-green);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 151px;
}

.header img{
    width: 140px;
}

.header button{
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 8px 20px;
    color: var(--white);
    background-color: transparent;
    font-size: 16px;
}

.first{
    display: grid;
    grid-template-columns: 50% 50%;
}

.left img{
    max-width: 452px;
    max-height: 596px;
}

.right .welcome{
    padding: 69px 0 0 151px;
    font-size: 56px;
    text-align: left;
}

.right .welcome span{
    color: var(--green);
}

.btnOne{
    margin-top: 50px;
    background-color: var(--yellow);
    max-width: 554px;
    height: 93px;
    border-radius: 0 50px 50px 0;

    position: relative;
    z-index: 1;
}

.btnOne button{
    font-size: 32px;
    background-color: transparent;
    padding: 27px 0 27px 0px;

    position: absolute;
    left: 151px;
}

.btnOne img{
    width: 79px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.btnTwo{
    background-color: var(--light-green);
    width: 470px;
    height: 93px;

    margin-top: -10px;
    border-radius: 0 50px 50px 0;

    position: relative;
}

.btnTwo button{
    background-color: transparent;
    color: var(--white);
    font-size: 32px;
    padding: 32px 0 22px 0px;

    position: absolute;
    left: 151px;
}

.text{
    padding: 42px 0 30px 151px;
    position: absolute;
}

.join{
    color: var(--light-green);
    text-decoration: underline;
    font-weight: bold;
}


.second {
    width: 100%;
    height: 260px;
    background-color: var(--dark-green);

    display: flex;
    justify-content: center;
    align-items: center;
}

.second p{
    max-width: 750px;
    color: var(--white);
    font-size: 32px;
}

.third{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 70px;
}

.third .right img{
    max-width: 480px;
    width: 480px;
    margin-top: 55px;
}

.third .left p{
    font-size: 24px;
    color: var(--dark-green);
    font-weight: 600;

    margin: 70px 0 40px 0;
    text-align: left;
}

ul {
    display: block;
    max-width: 500px;
}

ul li {
    display: block;
    position: relative;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-left: 30px;
}

ul li:before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: -4px;
    margin-top: -.9em;
    background: var(--dark-green);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.fourth{
    background-color: #FF6F61;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 151px;
}

.fourth p{
    color: var(--white);
    font-size: 56px;
    max-width: 380px;
}

.fourth span{
    font-size: 16px;
    color: var(--white);
    max-width: 400px;
    text-align: left;
}

.fourth .love{
    width: 115px;
    height: 104px;
    background-image: url("../../images/heart.png");
    color: var(--white);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
