.sideNav {
    width: 100%;
}

.sideNav p {
    width: 100%;
    padding-left: 40%;
    font-size: 16px;
    font-weight: 500;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.sideNav a {
    color: var(--white);
    transition: 300ms;
}

.sideNav a:hover {
    color: var(--yellow);
}

.sideNav a span {
    margin-right: 10px;
}

.sideNav div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hasChildren {
    background-color: var(--dark-green);
    height: 175px;
    border-radius: 0 17px 17px 0;
}

.hasChildren p {
    margin: 5px 0;
}

.sideNav > div > div {
    margin: 0 0 10px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.activeContainer {
    width: 250px;
    height: 40px;
    background-color: var(--white);
    border-radius: 0 17px 17px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 500ms;
}

.active a {
    color: var(--green);
    font-weight: 550;
}

.subActive a {
    color: var(--yellow);
}