.content {
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: var(--container-width);
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    z-index: 10;
}

.headerLogo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header img {
    width: 130px;
}

.mainBg {
    width: 100%;
    background-color: var(--green);
}

.main {
    display: grid;
    grid-template-columns: 22.5% 50% 27.5%;
}
.sidenav {
    padding: 34px;
}
.outlet {
    background-color: var(--white);
    /*min-width: 650px;*/
    min-height: 90vh;
    padding: 34px;
}
.ads {
    padding: 34px;
}