h3 {
    font-weight: 550;
    margin-bottom: 30px;
    text-align: left;
    color: var(--dark-green);
}

label {
    width: 100px;
}

.input {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input label {
    width: 100px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    text-align: right;
}

textarea {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--light-green);
    text-wrap: normal;
}

.upTo {
    color: var(--green);
}

.upperForm {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
}

img {
    max-width: 250px;
    width: 100%;
}

.right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.dnd {
    width: 120px;
    font-size: 12px;
    font-weight: 400;
    margin: 1rem auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dnd:hover {
    cursor: pointer;
}

.dnd span {
    font-size: 2rem;
}

.files {
    width: 140px;
    height: 100px;
    margin: 0 auto;
    padding: 4px 8px;

    border: 1px solid var(--green);
    font-size: 10px;
    color: var(--gray);
}

.file {
    display: flex;
    justify-content: space-between;
}
.cross {
    cursor: pointer;
}

.bottomForm {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contacts {
    font-size: 12px;
    color: var(--black);
    margin-right: 1rem;
    margin-top: 6px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.download {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2rem;
    color: var(--dark-green);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 300ms;
}

.download:hover {
    cursor: pointer;
    background-color: rgba(134, 134, 134, 0.19);
}

@media screen and (max-width: 1200px) {
    .right div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
}