.post{
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto;
    column-gap: 20px;
    row-gap: 5px;
    grid-template-areas:
    "avatar name menu"
    ". main fav";
}

.avatar{
    border: 1px solid var(--white);
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50% ;
    box-shadow: 0 3px 6px #00000029;
    grid-area: avatar;
}

.name{
    grid-area: name;
    text-align: left;
}

.name h3{
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--dark-green);
    margin-bottom: 0;
}

.time{
    font-size: 12px;
    color: var(--gray);
}

.menu{
    grid-area: menu;
    background-color: transparent;
    width: 20px;
    height: 18px;
    font-size: 18px;
    color: var(--gray);
    text-align: right;
    margin-left: 30px;
}

.main{
    grid-area: main;
}

.text{
    text-align: left;
    font-size: 14px;
    /*height: 50px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.imageInPost{
    text-align: center;
}

.more{
    background-color: transparent;
    color: var(--light-green);
    font-size: 14px;
}

.more:hover{
    cursor: pointer;
}

.fav{
    grid-area: fav;
    background-color: transparent;
    width: 20px;
    height: 20px;
    font-size: 18px;
    color: var(--gray);
    text-align: right;
    margin-left: 30px;
    margin-top: 30px;
}

.settings{
    display: none;
}
