.post{
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    padding: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto;
    column-gap: 20px;
    row-gap: 5px;
    grid-template-areas:
    "avatar name menu"
    ". main favField";
}

.avatar{
    border: 1px solid var(--white);
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50% ;
    box-shadow: 0 3px 6px #00000029;
    grid-area: avatar;
}

.name{
    grid-area: name;
    text-align: left;
}

.name h3{
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--dark-green);
    margin-bottom: 0;
}

.time{
    font-size: 12px;
    color: var(--gray);
}

.menu{
    grid-area: menu;
    background-color: transparent;
    width: 20px;
    height: 18px;
    font-size: 18px;
    color: var(--gray);
    text-align: right;
    margin-left: 30px;
}

.menu:hover{
    cursor: pointer;
    color: var(--light-green);
}


.main{
    grid-area: main;
}

.text{
    text-align: left;
    font-size: 14px;
    /*height: 50px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.imageInPost{
    text-align: center;
}

.more{
    background-color: transparent;
    color: var(--light-green);
    font-size: 14px;
}

.more:hover{
    cursor: pointer;
}

.favField{
    grid-area: favField;
    position: relative;
}

.fav{
    background-color: transparent;
    width: 20px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fav:hover{
    color: var(--light-green);
}

.settings{
    width:25%;
    height: 85px;
    padding: 15px;
    background-color: var(--light-green);
}

.post .settings{
    position: absolute;
    z-index: 100;
    left: 74%;
    top: 35px
}

.settings button{
    background-color: transparent;
    font-size: 15px;
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.settings button:hover{
    color: #ddefe9;
}

